<div class="col-md-12">

  <h2 class="text-center"> 我发表过的评论 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> Content </th>
        <th> Movie </th>
        <th> Last Update </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= render :partial => "review_item", :collection => @reviews, :as => :review %>
    </tbody>
  </table>
</div>
